#clock {
    border: 3rem rgba(238, 26, 26, 0.89) solid;
    height: 24rem;
    width: 24rem;
    border-radius: 50%;
    margin: auto;
    margin-top: 8rem;
    box-shadow: 0 0 .5rem gray;
    position: relative;
}

.hours-container,
.minutes-container,
.seconds-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hours-hand {
    background: #000;
    height: 20%;
    left: 48.75%;
    position: absolute;
    top: 30%;
    transform-origin: 50% 100%;
    width: 2.5%;
}

#minutes-hand {
    background: #000;
    height: 40%;
    left: 49%;
    position: absolute;
    top: 10%;
    transform-origin: 50% 100%;
    width: 2%;
}

#seconds-hand {
    background: #000;
    height: 46%;
    left: 49.5%;
    position: absolute;
    top: 6%;
    transform-origin: 50% 100%;
    width: 1%;
    z-index: 8;
}

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.hours-container {
    animation: rotate 43200s infinite linear;
}

.minutes-container {
    animation: rotate 3600s infinite linear;
}

.seconds-container {
    animation: rotate 60s infinite linear;
}